@import '../../assets/styles/fonts';
@import '../../assets/styles/constants';

$addIconSize: 32px;
$btnMinHeight: 48px;

// Reset the css 
button.btn-default {
  border: none;
  background-color: transparent;
}

// Base 
button.btn-default {
  align-items: center;
  border-radius: 24px;
  color: $fontColorLight;
  cursor: pointer;
  display: flex;
  font-family: $spartan;
  font-weight: 700;
  font-size: 12px;
  flex-direction: row;
  justify-content: center;
  line-height: 1px;
  min-height: $btnMinHeight;
  padding: 17px 24px;
  transition-duration: $transitionDuration;

  // Add Icon
  .add-icon {
    background-color: #FFFFFF;
    border-radius: 50%;
    color: $btnColorDefault;
    display: block;
    font-size: 20px;
    height: $addIconSize;
    line-height: 36px;
    margin-right: 16px;
    transition-duration: $transitionDuration;
    text-align: center; 
    width: $addIconSize;

    &:hover {
      background-color: #FFFFFF;
    }
  }

  // Modifies button when icon exists
  &.icon {
    padding: 8px 15px 8px 8px;
  }

  // Full width btn
  &.width-full {
    width: 100%;
  }

  // Default 
  &.btn-default {
    background-color: $btnColorDefault;

    &:hover {
      background-color: $btnColorDefaultHover;
    }
  }

  // Light 
  &.btn-light {
    background-color: $btnColorLight;
    color: $fontColorDarkAlt;

    &:hover {
      background-color: $btnColorLightHover;
    }
  }

  // Light Alternate
  &.btn-light-alt {
    background-color: $btnColorLightAlt;
    color: $fontColorDarkAlt;

    &:hover {
      background-color: $btnColorLightAltHover;
    }
  }

  // Dark
  &.btn-dark {
    background-color: $btnColorDark;

    &:hover {
      background-color: $btnColorDarkHover;
      color: $fontColorExtraLight;
    }
  }

  // Dark Alternate
  &.btn-dark-alt {
    background-color: $btnColorDarkAlt;

    &:hover {
      background-color: $btnColorDarkAltHover;
    }
  }

  // Danger 
  &.btn-danger {
    background-color: $btnColorDanger;

    &:hover {
      background-color: $btnColorDangerHover;
    }
  }
}