/* ***Colors*** */
// Default
$colorDefault: #7C5dfa;
$colorDefaultHover: #9277FF;

// Dark
$colorDark: #252945;
$colorDarkHover: #FFFFFF;
$colorDarkAlt: #373B53;
$colorDarkAltHover: #1E2139;

// Light
$colorLight: #FFFFFF;
$colorLightHover: #DFE3FA;
$colorLightAlt: #373B53;
$colorLightAltHover: #0C0E16;

// Danger
$colorDanger: #EC5757;
$colorDangerHover: #FF9797;

/* ***Font Colors*** */
// Light
$colorFontLight: #FFFFFF;
$colorFontLightAlt: #888EB0;
$colorFontExtraLight: #DFE3FA;

// Dark
$colorFontDark: #000000;
$colorFontDarkAlt: #7E88C3;

/* ***Transitions*** */
$transitionDuration: .3s;