/* ***Btn Colors*** */
// Default
$btnColorDefault: #7C5dfa;
$btnColorDefaultHover: #9277FF;

// Dark
$btnColorDark: #252945;
$btnColorDarkHover: #FFFFFF;
$btnColorDarkAlt: #373B53;
$btnColorDarkAltHover: #1E2139;

// Light
$btnColorLight: #F9FAFE;
$btnColorLightHover: #DFE3FA;
$btnColorLightAlt: #373B53;
$btnColorLightAltHover: #0C0E16;

// Danger
$btnColorDanger: #EC5757;
$btnColorDangerHover: #FF9797;

/* ***Dropdown Colors*** */
// Light
$dropLight: #DFE3FA;
$dropLightHover: #7C5DFA;
$dropTextLight: black;
$dropTextLightHover: #7C5DFA;

// Dark
$dropDark: #252945;
$dropBGDark: #1E2139;
$dropTextDark: white;
$dropTextDarkHover: #9277FF;

/* ***Font Colors*** */
// Light
$fontColorLight: #FFFFFF;
$fontColorLightAlt: #888EB0;
$fontColorExtraLight: #DFE3FA;

// Dark
$fontColorDark: #000000;
$fontColorDarkAlt: #7E88C3;

/* ***Transitions*** */
$transitionDuration: .3s;